# Created by .ignore support plugin (hsz.mobi)
/.idea
.spyderworkspace

# ignore the config files
config.py

/__pycache__


# vim files 
*.swp

# .pyc files
*.pyc


.DS_Store

resources/
data/
logs/
instance/
instance/toxpro.sqlite


run_docker*.sh

api/api_config.py
/app/config.py
/docker-environment.env
