{% extends "base.html" %}
{% block content %}

    <div class="toxpro-overview">


        <div class="row">
          <div class="col-sm-12">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">

                  <h3 class="card-title">Contact</h3>

                  <p class="card-text">Questions, comments, and general inquiries can be emailed to toxproemail@gmail.com.</p>

              </div>
            </div>
          </div>
        </div>


    </div>

{% endblock %}
