{% extends "base.html" %}
{% block content %}

    <div class="toxpro-overview">


        <div class="row">
          <div class="col-sm-12">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">

                  <h3 class="card-title">Welcome to ToxiVerse</h3>

                  <p>ToxiVerse is an online chemical data analysis portal where users
                      can profile chemicals for <span class="font-italix">in vitro</span> bioassay responses and
                      perform common cheminformatic analyses such as Quantiative Structure-Activity Relationship
                      modeling, visualize chemicals space, and more.</p>

                  <p class="card-text">Registration is required, so users should first create an account by clicking
                  <a href="{{ url_for('auth.register') }}">here </a>.</p>

                  <p>
                      There are two main modules on the sidebar.  The <span class="font-weight-bold ">ToxiVerse</span> module is for
                      visualizing the ToxiVerse chemical database as well as profiling chemicals.  The <span class="font-weight-bold ">Cheminformatics</span>
                      module is for cheminformatic analyses.  Both are accessible by clicking the dashboard toggle in the
                      upper left corner.
                  </p>

              </div>
            </div>
          </div>
        </div>


    </div>

{% endblock %}
