{% extends "base.html" %}
{% block content %}

    <div>


        <div class="row">
          <div class="col-sm-12">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                  <h3>ToxiVerse Databases</h3>
                  <p>This page provides an overview of ToxiVerse datasets and their statistics.</p>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                        <div id='3d-pca' class='chart'”></div>
              </div>
            </div>
          </div>

        <div class="col-6">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                  <h3>Endpoint distribution:</h3>

                  <label for="endpoint-selection">Select endpoint:</label>
                  <select class="form-control" id="endpoint-selection">
                    {% for endpoint in endpoints %}
                        <option value="{{ endpoint.Endpoint }}"> {{ ' %s (%s) ' % (endpoint.Endpoint, endpoint.Dataset)}}</option>
                    {% endfor %}
                  </select>

              <div id='endpoint-histogram' class='chart'”></div>
              </div>
            </div>
          </div>
        </div>

    <div class="row">
          <div class="col-sm-12">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">

                  <h3>Select database to download</h3>
                  <form action="{{ url_for('toxpro.download_database') }}" method="post" enctype="multipart/form-data">
                  <label for="database-selection">Select database:</label>
                  <select class="form-control" name="database-selection">
                    {% for database in current_dbs %}
                        <option value="{{ database }}"> {{ database }}</option>
                    {% endfor %}
                  </select>

                  <input type="submit" style="color: white;"
                         class="btn btn-primary btn-padding"
                         value="Download database" onclick="loading()">
                </form>
              </div>
            </div>
          </div>
        </div>


    <div class="row">
          <div class="col-sm-12">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">


              </div>
            </div>
          </div>
        </div>

    <script type='text/javascript'>

    var traces;

    var pcaLayout = {
                  margin: {
                        l: 0,
                        r: 0,
                        b: 0,
                        t: 0
                  },
                  scene: {
                     camera: {
                          eye: {
                          x: 0,
                          y: 2.5,
                          z: 0
                          }
                  },
                     xaxis: {
                         title: 'PC1',
                         showticklabels: false
                     },
                     yaxis: {
                         title: 'PC2',
                         showticklabels: false
                     },
                     zaxis: {
                         title: 'PC3',
                         showticklabels: false
                     }
                  }


              };

      $.ajax('/api/tox-pca-data',
      {
          data: {'endpointSelection': "{{ endpoints[0].Endpoint }}" },
          success: function (data) {
              traces = [data];
              console.log(traces)
              Plotly.newPlot('3d-pca', traces, pcaLayout);
          }
      }
      )



      var histogramData;

      $.ajax('/api/tox-ep',
          {
              data: {'endpointSelection': "{{ endpoints[0].Endpoint }}" },
              success: function (data) {
                  histogramData = data;
                  var data = [histogramData];
                  var layout = {
                      xaxis:{
                          title: "{{ endpoints[0].Endpoint }}"
                          }
                  }
                  Plotly.newPlot('endpoint-histogram', data, layout);
              }
          }
      )

      $("#endpoint-selection").on("change", function() {
          var selectedText = this.value;
          $.ajax('/api/tox-ep',
          {
              data: {'endpointSelection': selectedText },
              success: function (data) {
                  histogramData = data;
                  var data = [histogramData];
                  var layout = {
                     xaxis:{
                          title: selectedText
                          }
                  }
                  Plotly.react('endpoint-histogram', data, layout);
              }
          }
          )

          $.ajax('/api/update-pca',
              {
                  data: {'endpointSelection': selectedText},
                  success: function (data) {
                      var update = data;


                      Plotly.restyle('3d-pca', update, [0]);
                  }
              }
          )
});

    </script>

{% endblock %}
