{% extends "base.html" %}
{% block content %}

    <div>


        <div class="row">
          <div class="col-sm-12">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                  <h3>Tox Data</h3>
                  <p>Overview of Tox Data.</p>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                        <div id='chart' class='chart'”></div>
              </div>
            </div>
          </div>

        <div class="col-6">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                        <div id='bar-chart' class='chart'”></div>
              </div>
            </div>
          </div>
        </div>


    <script type='text/javascript'>
      var pcaPlot = {{pca_plot | safe}};
      Plotly.plot('chart', pcaPlot, {});

      var barChart = {{bar_plot | safe}};
      Plotly.plot('bar-chart', barChart, {});
    </script>

{% endblock %}
