{% extends "base.html" %}
{% block content %}

    <div>


        <div class="row">
          <div class="col-sm-12">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                  <h3>ToxiVerse Databases</h3>
                  <p>This page provides an overview of ToxiVerse datasets and their statistics.</p>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                  <h3>General PCA</h3>
                        <div id='3d-pca' class='chart'”></div>
              </div>
            </div>
          </div>

        <div class="col-6">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                  <h3>Endpoint distribution</h3>

                  <label for="endpoint-selection">Select endpoint:</label>
                  <select class="form-control" id="endpoint-selection" name="endpoint-selection">
                    {% for endpoint in endpoints %}
                        <option value="{{ endpoint.Endpoint }}"> {{ ' %s (%s) ' % (endpoint.Endpoint, endpoint.Dataset)}}</option>
                    {% endfor %}
                  </select>

              <div id='endpoint-histogram' class='chart'”></div>
              </div>
            </div>
          </div>
        </div>

    <div class="row">
          <div class="col-sm-12">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                  <h3>Top 20 Bioassays</h3>
                  <table id="bioassay-table" class="table">
                    <thead>
                      <tr>
                        <th>AID</th>
                        <th>Bioassay name</th>
                        <th>Inactive</th>
                        <th>Inconclusive</th>
                        <th>Active</th>
                        <th>Active rate</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>

    <div class="row">
          <div class="col-sm-12">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">

                  <h3>Select database to download</h3>
                  <form action="{{ url_for('toxpro.download_database') }}" method="post" enctype="multipart/form-data">
                  <label for="database-selection">Select database:</label>
                  <select class="form-control" name="database-selection">
                    {% for database in current_dbs %}
                        <option value="{{ database }}"> {{ database }}</option>
                    {% endfor %}
                  </select>

                  <input type="submit" style="color: white;"
                         class="btn btn-primary btn-padding"
                         value="Download database" onclick="loading()">
                </form>
              </div>
            </div>
          </div>
        </div>


    <script type='text/javascript'>

    var traces;

    var pcaLayout = {
                  margin: {
                        l: 0,
                        r: 0,
                        b: 0,
                        t: 0
                  },
                  scene: {
                     camera: {
                          eye: {
                          x: 0,
                          y: 2.5,
                          z: 0
                          }
                  },
                     xaxis: {
                         title: 'PC1',
                         showticklabels: false,
                         range: [-50, 100]
                     },
                     yaxis: {
                         title: 'PC2',
                         showticklabels: false,
                         range: [-40,20]
                     },
                     zaxis: {
                         title: 'PC3',
                         showticklabels: false,
                         range: [-20,50]
                     }
                  }


              };

    var config = {responsive: true}

      $.ajax('/api/tox-pca-data',
      {
          data: {'endpointSelection': "{{ endpoints[0].Endpoint }}" },
          success: function (data) {
              traces = [data];
              console.log(traces)
              Plotly.newPlot('3d-pca', traces, pcaLayout, config);
          }
      }
      )



      var histogramData;

      $.ajax('/api/tox-ep',
          {
              data: {'endpointSelection': "{{ endpoints[0].Endpoint }}" },
              success: function (data) {
                  histogramData = data;
                  var data = [histogramData];
                  var layout = {
                      xaxis:{
                          title: "{{ endpoints[0].Endpoint }}"
                          }
                  };
                  var config = {responsive: true}
                  Plotly.newPlot('endpoint-histogram', data, layout, config);
              }
          }
      )

    $(document).ready(function () {
                $('#bioassay-table').DataTable({
                paging: false,
                searching: false,
                serverSide: true,
                ajax: {
                    "url": '/api/tox-bioprofile',
                    data: function(d) {
                    d.endpointSelection = getEndpointSelection();},
                },
                columns: [
                    {data: 'AID'},
                    {data: 'BioAssay Name'},
                    {data: 'Inactive'},
                    {data: 'Inconclusive'},
                    {data: 'Active'},
                    {data: 'Active rate'},
            ],
        });
      });


      $("#endpoint-selection").on("change", function() {
          var selectedText = this.value;
          $.ajax('/api/tox-ep',
          {
              data: {'endpointSelection': selectedText },
              success: function (data) {
                  histogramData = data;
                  var data = [histogramData];
                  var layout = {
                     xaxis:{
                          title: selectedText
                          }
                  };
                  var config = {responsive: true}
                  Plotly.react('endpoint-histogram', data, layout, config);
              }
          }
          )

          $.ajax('/api/update-pca',
              {
                  data: {'endpointSelection': selectedText},
                  success: function (data) {
                      var update = data


                      Plotly.restyle('3d-pca', update, [0]);
                  }
              }
          )
          });


      $(`#endpoint-selection`).change(function () {
          $('#bioassay-table').dataTable().fnClearTable();
          $('#bioassay-table').DataTable({
                destroy: true,
                paging: false,
                searching: false,
                serverSide: true,
                ajax: {
                    "url": '/api/tox-bioprofile',
                    data: function(d) {
                    d.endpointSelection = getEndpointSelection();},
                },
                columns: [
                    {data: 'AID'},
                    {data: 'BioAssay Name'},
                    {data: 'Inactive'},
                    {data: 'Inconclusive'},
                    {data: 'Active'},
                    {data: 'Active rate'},
            ],
        });
      });


    </script>

{% endblock %}