{% extends "base.html" %}
{% block content %}

    <div>


        <div class="row">
          <div class="col-sm-12">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">


                  {% if not user_datasets %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p> No datasets.  Please upload a dataset to build a QSAR model. </p>
                        </div>
                    </div>
                </div>
                  {% else %}

                <div class="card-body">
                <div class="row">

                    <div class="col-lg-12">
                        <p><strong>Build a QSAR model.</strong>  A model is definted as a pair of features (e.g., ECFP6 fingerprints)
                        and a machine learning algoritm (e.g., Random Forest).  </p>
                    </div>
                </div>



              <form action="{{ url_for('cheminf.QSAR_build') }}" method="post" enctype="multipart/form-data">
                <div class="row text-muted">

                    <div class="col-lg-4">
                        <h6>Select Dataset: </h6>
                        <select class="form-control" name="dataset-selection">
                        {% for dataset in user_datasets %}
                            <option value="{{ dataset.dataset_name }}"> {{ dataset.dataset_name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="col-4">
                        <h6>Select Descriptors: </h6>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="descriptor-selection" value="ECFP6" checked>
                            <label class="form-check-label" for="radioECFP6">ECFP6</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="descriptor-selection" value="FCFP6">
                            <label class="form-check-label" for="radioFCFP6">FCFP6</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="descriptor-selection" value="RDKit">
                            <label class="form-check-label" for="radioRdkit">RDKit Descirptors</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <h6>Select Algorithm: </h6>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="algorithm-selection" value="RF" checked>
                            <label class="form-check-label" for="radioRF">Random Forest (RF)</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="algorithm-selection" value="kNN">
                            <label class="form-check-label" for="radiokNN">k-Nearest Neighbors (kNN)</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="algorithm-selection" value="SVM">
                            <label class="form-check-label" for="radioSVM">Support Vector Machine (SVM) </label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 pt-4 pb-4">
                        <center>
                        <input type="submit" style="color: white;"
                         class="btn btn-primary "
                         value="Build QSAR" onclick="loading()">
                        </center>
                    </div>

                </div>
               </form>

              {% if qsar_results %}

              <div class="row pt-4">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Metric</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Accuracy</td>
                            <td>{{ "{:.2%}".format(qsar_results['ACC']) }}</td>
                        </tr>
                        <tr>
                            <td>F1-Score</td>
                            <td>{{ "{:.2%}".format(qsar_results['F1-Score']) }}</td>
                        </tr>
                        <tr>
                            <td>Area Under the ROCurve</td>
                            <td>{{ "{:.2%}".format(qsar_results['AUC']) }}</td>
                        </tr>
                        <tr>
                            <td>Cohen's Kappa</td>
                            <td>{{ "{:.2%}".format(qsar_results['ACC']) }}</td>
                        </tr>
                            <tr>
                            <td>Michael's Correlation Coefficient</td>
                            <td>{{ "{:.2%}".format(qsar_results['MCC']) }}</td>
                        </tr>
                        <tr>
                            <td>Precision/PPV</td>
                            <td>{{ "{:.2%}".format(qsar_results['Precision/PPV']) }}</td>
                        </tr>
                        <tr>
                            <td>Recall</td>
                            <td>{{ "{:.2%}".format(qsar_results['Recall']) }}</td>
                        </tr>
                        <tr>
                            <td>Specificity</td>
                            <td>{{ "{:.2%}".format(qsar_results['Specificity']) }}</td>
                        </tr>
                        <tr>
                            <td>Correct Classification Rate</td>
                            <td>{{ "{:.2%}".format(qsar_results['CCR']) }}</td>
                        </tr>
                    </tbody>
                </table>
              </div>
              {% endif %}
              </div>
              {% endif %}
            </div>
          </div>
        </div>


    </div>

{% endblock %}
