{% extends "base.html" %}
{% block content %}

    <div class="row ">
          <div class="col-12">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                  <h3>QSAR Predict</h3>
                  <p class="card-text">In this tab, you can select a previously built QSAR model to make predictions on a set chemicals.
                      After prediction, the modified SDF file will be directly downloaded to the user's computer.</p>


              </div>
            </div>
          </div>
    </div>


        <div class="row">
          <div class="col-12">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">

                  {% if not user_qsar_models %}
                  <div class="row">
                        <div class="col-12">
                            <p>No QSAR models available.  Please use QSAR build to create a QSAR model.</p>
                        </div>
                    </div>


                  {% else %}

                      <div class="row">
                        <div>

                        </div>
                      </div>

                   <form action="{{ url_for('cheminf.QSAR_predict') }}" method="post" enctype="multipart/form-data">
                   <div class="row">

                        <div class="col-md-6">
                          <label for="model-selection">Select QSAR model:</label>
                          <select data-placeholder="Choose or type the model name..." multiple class="chosen-select" name="model-selection">
                            {% for qsar_model in user_qsar_models %}
                                <option value="{{ qsar_model.name }}"> {{ qsar_model.name }}</option>
                            {% endfor %}
                          </select>
                        </div>

                        <div class="col-md-6">
                            <label for="predict-file">Select SDFile:</label>
                            <div class="input-group">
                                <input type="file" class="form-control" name="predict-file">
                                <button type="submit" class="btn btn-danger">Predict</button>
                            </div>
                        </div>

                   <div class="col-md-6">
                            <h6>Select Output File Format: </h6>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="output-type" value="CSV" checked>
                                <label class="form-check-label" for="radioCSV">CSV</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="output-type" value="SDF">
                                <label class="form-check-label" for="radioSDF">SDF</label>
                            </div>
                        </div>
                    </div>

                  <h6>SMILES column name in the CSV file: </h6>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm", name="smiles-column">
                        </div>
                    </form>
                    {% endif %}


              </div>
            </div>
          </div>
        </div>

    <script type='text/javascript'>


    $(".chosen-select").chosen({
    no_results_text: "Oops, no matching results!"})


    </script>

{% endblock %}
